body{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.container{
    flex: 1 !important;
}


.navbar{
    height: 5rem !important;
    background-color: white !important;
}

.fa-compass{
    color: #fe424d !important;
    font-size: 2rem !important;
}

.nav-link{
    color: #222222 !important;
}

.footer-link a{
    text-decoration: none !important;
    color: #222222 !important;
}
.footer-link a:hover{
    text-decoration: underline !important;
}

.footer-info{
    height: 8rem !important;
    background-color: #ebebeb !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.footer-icon, .footer-link, .footer-name{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}

.footer-icon i{
    font-size: 1.2rem !important;
    margin-left: 1rem !important;
}


.footer-link a{
    margin-left: 1.2rem !important;
}



/* card-section */

.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;
    margin-left: 0.2rem !important;
}



.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
}

/*card-effects*/

.card-img-overlay{
    opacity: 0 !important;
}

.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white !important;
}

label{
    font-weight: 500 !important;
}



/*edit button*/

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*add button*/

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Show Listing*/

.show-img{
    height: 30vh !important;
}

.btns{
    display: flex !important;
}

.symbol{
    height: 30px !important;
    width: 30px !important;
}

/*review*/

.bi{
    height: 1rem !important;
    width: 1rem !important;
}

/*Map*/

#map {
    height: 400px !important;
    width: 600px !important;
}


.filters{
    display: flex;
    flex-wrap: wrap;
    max-height: 3rem;
}


