<footer>
    <div class="footer-info">
        <div class="footer-icon">
            <i class="fa-solid fa-globe"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-name"> &copy;Wonderlust Private Limited Company</div>
        <div class="footer-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>